@charset "UTF-8";
/* 
<메모장>

모바일 사이즈는 hover 효과 제거 

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: inherit;
}

/* Component - Navbar.js */
#nav_wrap {
  height: 80px;
  min-width: 768px;
  margin: 0 auto;
}
#header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #bbbbbb33;
}
#header > .menu_area {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu_area_L {
  width: 50px;
  height: 50px;
}
.home_icon_area {
  width: 50px;
  height: 50px;
  padding: 12px;
  text-align: center;
  line-height: 25px;
  border-radius: 99999px;
  cursor: pointer;
  transition: 0.1s;
  background-color: #fff;
}
.home_icon_area:hover {
  background-color: #59815b;
}
.home_icon_area:hover .home_btn {
  color: #fff;
}
.menu_area_R {
  width: 40%;
  height: 50px;
}
.menu_area_R > ul {
  display: flex;
  justify-content: right;
}
.menu_area_R > ul > li {
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
}
.menu_area_R > ul > li:last-child {
  margin-right: 0px;
}
.icon_area {  
  width: 50px;
  height: 50px;
  padding: 10px 15px;
  line-height: 30px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;

  background-color: #fff;
  border-radius: 99999px;
}
.icon_wrap {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
}
.ctg_name {
  display: inline-block;
  height: 30px;
  text-align: center;
  text-indent: 25px;
  font-weight: 500;
  font-size: 15px;
}
.menu_area_R > ul > li:hover .icon_area {
  width: 150px;
  background-color: #59815b;
  color: #fff;
}

/* Component - Welcome.js */
#welcome_wrap {
  position: relative;
  background-color: bisque;
  height: 100vh;
}